In [1]:
imie = input ("powiedz jak masz na imię:")
print("Twoje imie to" , imie*2)
print(type(imie))

powiedz jak masz na imię: masia

Twoje imie to masiamasia
<class 'str'>

In [ ]:
Napiszemy teraz program, który bierze od usera liczbę i zwróci jej pierwiastek trzeciego stopnia

In [ ]:
liczba = input("podaj liczbę")
liczba = int(liczba)
wynik = liczba ** (1/3)
print("Pierwiastek 3 stopnia z liczby to : ", wynik)

In [19]:
podaj liczbę :6
Pierwiastek 3 stopnia z liczby to :

SyntaxError: invalid syntax (<ipython-input-19-2d6e796a22b7>, line 1)

In [1]:
2 <= 3

True

In [3]:
4 <= 3

False

In [4]:
3 == 3

True

In [5]:
3 != 3

False

In [7]:
x = 456
x % 2 == 0 and x % 3 == 0

True

In [9]:
True and True

True

In [10]:
x % 2 == 0 or x % 3 == 0

True

In [11]:
True or False

True

In [12]:
False or False

False

In [13]:
not False

True

In [14]:
not True

False

In [15]:
not 2 == 2

False

In [16]:
not 123 > 2 ** 4 or 123 > 3 ** 2

True

In [20]:
wirowanie = True

if wirowanie == True:
    print ("Wirujemy!")

Wirujemy!

In [ ]:
liczba = input("podaj liczbę")
liczba = int(liczba)
if liczba % 2 == 0:
    print("Liczba jest parzysta")
else:
    print("Liczba jest nieparzysta")

In [1]:
liczba = input("Podaj liczbę")
liczba = int (liczba)
if liczba % 4 == 0:
    print ("Liczba dzieli sie przez 4")
elif liczba % 2 == 0:
    print ("Liczba dzieli się przez 2 ale nie przez 4")
else:
    print ("Liczba nie dzieli się przez 2 i przez 4")

Podaj liczbę 16

Liczba dzieli sie przez 4

In [3]:
ludzie = ["Basia", "Zenek", "Gienia", "Stefan", "Protazy"]

In [4]:
ludzie

['Basia', 'Zenek', 'Gienia', 'Stefan', 'Protazy']

In [5]:
ludzie[1]

'Zenek'

In [6]:
ludzie[4]

'Protazy'

In [7]:
ludzie[-1]

'Protazy'

In [9]:
ludzie[1:4] # przedział zamknięty od lewej a otwarty od prawej

['Zenek', 'Gienia', 'Stefan']

In [10]:
ludzie[1:-1]

['Zenek', 'Gienia', 'Stefan']

In [11]:
ludzie[2:5]

['Gienia', 'Stefan', 'Protazy']

In [12]:
ludzie[:3]

['Basia', 'Zenek', 'Gienia']

In [13]:
od = 2
do = 4
ludzie[od:do+1]

['Gienia', 'Stefan', 'Protazy']

In [14]:
nazwisko = "Brzęczyszczykiewicz"

In [15]:
nazwisko[4]

'c'

In [16]:
nazwisko = "Brzęszczyszczykiewicz"
print(nazwisko[::3])

Bęcszii

In [17]:
ludzie.append("Wiesia")
ludzie.append("Bogusia")
ludzie.append("Henio")

In [18]:
ludzie

['Basia', 'Zenek', 'Gienia', 'Stefan', 'Protazy', 'Wiesia', 'Bogusia', 'Henio']

In [19]:
len(ludzie)

8

In [20]:
ludzie.append("Zosia")
len(ludzie)

9

In [21]:
liczby = [1,2,3,4,55,-123]

In [22]:
liczby

[1, 2, 3, 4, 55, -123]

In [23]:
sum(liczby)

-58

In [24]:
ludzie

['Basia',
 'Zenek',
 'Gienia',
 'Stefan',
 'Protazy',
 'Wiesia',
 'Bogusia',
 'Henio',
 'Zosia']

In [25]:
ludzie.insert(3,"Krystian")

In [26]:
ludzie

['Basia',
 'Zenek',
 'Gienia',
 'Krystian',
 'Stefan',
 'Protazy',
 'Wiesia',
 'Bogusia',
 'Henio',
 'Zosia']

In [27]:
ludzie[-2]

'Henio'

In [28]:
ludzie.pop(-2)

'Henio'

In [29]:
ludzie

['Basia',
 'Zenek',
 'Gienia',
 'Krystian',
 'Stefan',
 'Protazy',
 'Wiesia',
 'Bogusia',
 'Zosia']

In [31]:
lista = [1, 2, 3, [1, 2, 3]]
len(lista)

4

In [32]:
lista[3]

[1, 2, 3]

TypeError: 'int' object is not subscriptable